/* custom css for header */
.grey {
    filter: brightness(50%);
}

.yana-carosel {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 17.25rem;
    color: #fff;
    text-align: center;
}

/* @media only screen and (max-width:688px) {
    .course-imgage {
        width: 100% !important;
    }
} */